.feedback__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: calc(100%-120px);
    margin: 120px 54px;
}

.reviews__card {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.reviews__user {
    font-size: 16px;
    line-height: 20px;
    margin: 5px;
}

.reviews__content {
    width: 100%;
    min-height: 113px;
    border: 3px solid #FFFFFF;
    border-radius: 4px;
    padding: 10px;
}

.reviews__date {
    font-size: 16px;
    line-height: 20px;
    align-self: end;
    text-align: end;
    margin: 5px;
}

.feedback__button {
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
    color: black;
    width: 333px;
    height: 70px;
    border-radius: 4px;
    font-size: 16px;
    line-height: 20px;
    align-self: center;
    margin-bottom: 155px;
}

.feedback__button:hover {
    cursor: pointer;
    background-color: black;
    border-color: white;
    color: white;
}