.header {
    width: 100vw;
    max-width: 100%;
    padding-top: 102px;
    display: flex;
    justify-content: space-between;
}

.header-title {
    font-family: Alegreya SC;
    font-size: 39px;
    font-weight: 500;
    line-height: 58px;
    letter-spacing: 0.545em;
    text-align: center;
    color: #FFFFFF;
}

.header-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 106px;
}

.header-left {
    margin-left: 106px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-left img {
    width: 34px;
    height: 18px;
    margin-right: 40px;
}

.header-right a {
    font-family: 'Basic';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 1px;
    letter-spacing: 0.01em;
    margin-top: 8px;
    margin-right: 8px;
}

@media screen and (min-width:1200px) {
    .header-right a {
        margin-right: 40px;
    }
}

@media screen and (max-width:1199px) {
    .header-right a {
        margin-right: 30px;
    }
}


@media (max-width: 991px) {
    .header-right {
        margin-right: 30px;
    }

    .header-right a {
        margin-right: 17px;
    }

    .header-left {
        margin-left: 30px;
    }
}


@media (max-width: 767px) {
    .header {
        margin: 20px 0;
        flex-direction: column;
    }

    .header-left {
        justify-content: center;
        margin: 0 20px;
    }

    .header-right {
        justify-content: center;
        margin-right: 0;
    }

    .header-right a {
        margin-right: 36px;
    }

    .header-title {
        font-size: 24px;
        letter-spacing: 0.545em;
    }

    .header-left img {
        margin-right: 36px;
    }
}

@media (max-width: 575px) {
    .header {
        margin: 20px 0;
        flex-direction: column;
    }

    .header-left {
        justify-content: center;
        margin: 0 20px;
    }

    .header-right {
        justify-content: center;
        margin-right: 0;
    }

    .header-right a {
        margin-right: 16px;
    }

    .header-title {
        font-size: 24px;
        letter-spacing: 0.545em;
    }

    .header-left img {
        margin-right: 16px;
    }
}